<h1>Hangman v0.1</h1>

<div *ngIf="!win && !dead">
	<button
		*ngFor="let letter of alphabet_chars"
		(click)="onLetterSelected($event)"
	>{{letter}}</button>


	<p>Selected letter: {{selected_letter}}</p>
	<p>Already tried: {{already_tried}}</p>
	<p>You have <b>{{lifes}}</b> lifes left.</p>

	<p *ngIf="match_found"><b>Match found!</b></p>
</div>
<p *ngIf="dead"><b>C'est la vie</b></p>
<p *ngIf="win"><b>You rock!</b></p>

<span *ngFor="let letter of word">
	<button *ngIf="guessed_letters.indexOf(letter) > -1">{{letter}}</button>
	<button *ngIf="guessed_letters.indexOf(letter) == -1">_</button>
</span>
